name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches: "*"

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ["3.7", "3.10"]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install pip dependencies
        run: |
          pip install -v -e ".[test]" pytest-cov
      - name: Check pip environment
        run: |
          pip freeze
          pip check
      - name: Test with pytest
        run: |
          python -m pytest -vv --cov=notebook_shim notebook_shim --cov-report term-missing:skip-covered
